:root{
  --T1010: rgb(201,36,43);
  --T1020: rgb(203,102,105);
  --T1030: rgb(152,76,54);
  --T1040: rgb(152,38,42);
  --T1050: rgb(118,32,42);
  --T1060: rgb(149,21,25);
  --T1070: rgb(137,76,62);
  --T1080: rgb(213,144,136);
  --T1090: rgb(223,146,163);
  --T1100: rgb(223,146,163);
  --T1110: rgb(220,64,40);
  --T1120: rgb(202,106,122);
  --T1130: rgb(220,87,126);
  --T1140: rgb(221,109,145);
  --T1150: rgb(214,153,158);
  --T1160: rgb(166,43,76);
  --T1170: rgb(166,43,76);
  --T1180: rgb(220,64,62);
  --T1190: rgb(201,59,94);
  --T1200: rgb(211,84,37);
  --T1210: rgb(242,112,145);
  --T1220: rgb(161,52,34);
  --T1230: rgb(246,152,163);
  --T1240: rgb(219,59,123);
  --T1250: rgb(202,60,61);
  --T1260: rgb(172,131,168);
  --T2010: rgb(242,88,33);
  --T2020: rgb(245,132,101);
  --T2030: rgb(220,76,51);
  --T2040: rgb(246,139,50);
  --T2050: rgb(209,76,40);
  --T2060: rgb(224,145,121);
  --T2070: rgb(243,110,49);
  --T2080: rgb(221,87,52);
  --T2090: rgb(215,124,41);
  --T2100: rgb(227,163,119);
  --T3010: rgb(232,187,31);
  --T3020: rgb(255,222,44);
  --T3030: rgb(245,132,101);
  --T3040: rgb(206,201,162);
  --T3050: rgb(244,210,93);
  --T3060: rgb(238,163,31);
  --T3070: rgb(190,156,37);
  --T3080: rgb(255,233,94);
  --T3090: rgb(229,190,130);
  --T3100: rgb(234,212,21);
  --T3110: rgb(242,192,78);
  --T3120: rgb(199,174,123);
  --T3130: rgb(208,155,42);
  --T3140: rgb(241,215,179);
  --T3150: rgb(216,133,41);
  --T4010: rgb(104,120,64);
  --T4020: rgb(69,171,135);
  --T4030: rgb(0,121,110);
  --T4040: rgb(107,107,62);
  --T4050: rgb(0,103,110);
  --T4060: rgb(38,154,130);
  --T4070: rgb(88,152,111);
  --T4080: rgb(23,55,42);
  --T4090: rgb(53,103,64);
  --T4100: rgb(0,150,143);
  --T4110: rgb(145,155,74);
  --T4120: rgb(33,114,62);
  --T4130: rgb(0,128,104);
  --T4140: rgb(20,81,57);
  --T4150: rgb(105,180,150);
  --T4160: rgb(147,182,146);
  --T4170: rgb(39,135,102);
  --T4180: rgb(109,149,58);
  --T4190: rgb(136,171,104);
  --T4200: rgb(81,146,161);
  --T4210: rgb(125,191,184);
  --T4220: rgb(101,114,73);
  --T4230: rgb(0,150,143);
  --T4240: rgb(220,217,144);
  --T4250: rgb(0,144,88);
  --T4260: rgb(188,181,49);
  --T4270: rgb(132,194,153);
  --T4280: rgb(95,141,86);
  --T5010: rgb(22,70,110);
  --T5020: rgb(12,77,162);
  --T5030: rgb(87,120,150);
  --T5040: rgb(7,47,79);
  --T5050: rgb(147,173,189);
  --T5060: rgb(41,97,105);
  --T5070: rgb(26,70,90);
  --T5080: rgb(4,39,56);
  --T5090: rgb(0,84,101);
  --T5100: rgb(90,174,189);
  --T5110: rgb(0,141,155);
  --T5120: rgb(42,1,57);
  --T5130: rgb(77,148,172);
  --T5140: rgb(27,44,85);
  --T5150: rgb(15,105,124);
  --T5160: rgb(52,118,174);
  --T6010: rgb(165,84,106);
  --T6020: rgb(58,45,83);
  --T6030: rgb(112,44,125);
  --T6040: rgb(181,121,166);
  --T6050: rgb(119,111,165);
  --T6060: rgb(127,97,109);
  --T6070: rgb(67,42,100);
  --T6080: rgb(105,80,149);
  --T6090: rgb(189,157,194);
  --T6100: rgb(159,74,87);
  --T6110: rgb(110,44,79);
  --T6120: rgb(135,106,164);
  --T6130: rgb(64,6,67);
  --T7010: rgb(123,74,52);
  --T7020: rgb(82,46,26);
  --T7030: rgb(165,80,91);
  --T7040: rgb(111,46,40);
  --T7050: rgb(218,186,138);
  --T7060: rgb(227,163,119);
  --T7070: rgb(193,98,26);
  --T7080: rgb(185,88,49);
  --T7090: rgb(138,89,41);
  --T7100: rgb(161,144,120);
  --T8010: rgb(209,182,84);
  --T8020: rgb(189,148,37);
  --T8030: rgb(219,167,59);
  --T8040: rgb(221,193,83);
  --T8050: rgb(192,172,35);
  --T8060: rgb(160,86,75);
  --T8070: rgb(214,143,113);
  --T8080: rgb(203,115,113);
  --T8090: rgb(227,192,171);
  --T8100: rgb(231,217,146);
  --T8110: rgb(188,196,193);
  --T8120: rgb(229,219,192);
  --T8130: rgb(188,189,184);
  --T8140: rgb(41,36,27);
  --T8150: rgb(97,63,28);
  --T8160: rgb(92,70,6);
  --T8170: rgb(161,150,109);
  --T8180: rgb(22,93,90);
  --T8190: rgb(68,71,64);
  --T9010: rgb(0,0,0);
  --T9020: rgb(90,91,96);
  --T9030: rgb(119,138,131);
  --T9040: rgb(54,60,65);
  --T9050: rgb(43,28,24);
  --T9060: rgb(88,78,66);
  --T9070: rgb(54,69,64);
  --T9080: rgb(34,54,64);
  --T9090: rgb(127,133,133);
  --T9100: rgb(180,167,144);
  --T9110: rgb(106,110,120);
  --T9120: rgb(0,40,53);
  --T9130: rgb(0,8,11);
  --T9140: rgb(179,179,186);
  --T9150: rgb(107,98,114);
  --T9160: rgb(157,144,129);
  --T9170: rgb(159,164,159);
  --T9180: rgb(147,169,164);
  --T0010: rgb(241,237,226);
  --T0020: rgb(208,207,207);
  --T0030: rgb(239,218,224);
  --T0040: rgb(239,197,181);
  --T0050: rgb(224,154,131);
  --T0060: rgb(237,187,198);
  --T0070: rgb(180,174,155);
  --T0080: rgb(219,204,144);
  --T0090: rgb(220,193,105);
  --T0100: rgb(255,241,208);
  --T0110: rgb(193,212,206);
  --T0120: rgb(255,253,224);
  --T0130: rgb(219,204,185);
}
